*{
    margin: 0;
    padding: 0;
    /* transition: .2s; */
}

::-webkit-scrollbar{
 color-scheme: dark;
}

.login-empty-container{
    width: 40vw;
}

.login-main-container{
    width: 30vw;
    padding: 50px;
}

.login-parent{
    width: 85vw;
}

.login-bg{
    background-image: url(./assets/images/login.svg);
    mix-blend-mode: multiply;
}

.bottom-navbar{
    display: none;
}

.d-none{
    display: flex;
}

.shadow{
    transition: .3s;
}

.shadow:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,.05), -10px -10px 20px rgba(0,0,0,.05);
    transition: .3s;
}

@media (max-width: 768px){

    .login-empty-container{
        display: none;
    }
    .login-main-container{
        width: 100vw;
        padding: 50px 15px;

    }

    .login-parent{
        width: 95vw;
        padding: 8px;
    }

    .login-bg{
        background-image: none;
    }

    .bottom-navbar{
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: -10px 0px 20px rgba(0,0,0,.05);
    }
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;
        width: 100vw;
        overflow: hidden;


    }
    .d-none{
        display: none;
    }
    .content{
        margin:4rem 0rem;
    }
    .flex-vertical{
        flex-direction: column;
    }

}