*{
    margin: 0;
    padding: 0;
    /* transition: .2s; */
}

/* ::-webkit-scrollbar{
 color-scheme: dark;
} */

[data-color-scheme="dark"] {
    color-scheme: dark;
  }
  
  [data-color-scheme="light"] {
    color-scheme: light;
  }


.login-empty-container{
    width: 40vw;
}

.login-main-container{
    width: 30vw;
    padding: 50px;
}

.login-parent{
    width: 85vw;
}

.login-bg{
    background-image: url(./assets/images/login.jpg);
    mix-blend-mode: multiply;
    width: 50vw;
}

.bottom-navbar{
    display: none;
}

.d-none{
    display: flex;
}

a:link, a:visited, a:active, a:focus{
    text-decoration: none;
    color: #FF9100
}

.w-10{
    width: 10vw;
}

.shadow{
    transition: .3s;
}

.shadow:hover{
    /* box-shadow: 10px 10px 20px rgba(0,0,0,.05), -10px -10px 20px rgba(0,0,0,.05); */
    transition: .3s;
}
.mx-10{
    width: 0px 10px;
}

.separator{
    display: none;
}
.br{
    display: none;
}

@media (max-width: 768px){

    .search{
        width: 85vw;
    }

    .separator{
        display: block;
    }

    .shrink{
        flex-direction: column;
    }

    .shrink > div{
        width: 100%;
        margin-bottom: 10px;
    }

    .mx-10{
        width: 0px 4px;
    }
    .login-empty-container{
        display: none;
    }
    .login-main-container{
        width: 100vw;
        padding: 50px 15px;

    }

    .w-10{
        width: 30vw;
    }

    .login-parent{
        width: 95vw;
        padding: 8px;
    }

    .login-bg{
        
    }

    .bottom-navbar{
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 95vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: -10px 0px 20px rgba(0,0,0,.05);
    }
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;
        width: 100vw;
        overflow: hidden;


    }
    .d-none{
        display: none;
    }
    .content{
        margin:4rem 0rem;
    }
    .flex-vertical{
        flex-direction: column;
    }
    body{
        /* padding-bottom: 4rem; */
    }
    .br{
        height: 4rem;
        display: block;
        width: 40vw;
    }

}